@font-face  /* Police des 5 pages  " La Page Index et les 4 pages Menu " */
{
    font-family:"Roboto Regular";
    src:url("Police-Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face  /* Police des 5 pages  " La Page Index et les 4 pages Menu " */
{
    font-family:"Shrikhand Regular";
    src:url("Police-Roboto/Shrikhand-Regular.ttf") format("truetype");
}
body  /* Police des 5 pages  " La Page Index et les 4 pages Menu " */
{
    font-family:"Roboto Regular", sans-serif;
} 
.Header-Menu
{
    position:relative;
}
#ohmyfood-Menu-La-Note-Enchantee  /* ID Logo de la page    " Page Menu La Palette Du Goût " */
{
    width:43.5%;
    margin:23px 0px 8px;
}
#ohmyfood-Menu-A-La-Française  /* ID Logo de la page    " Page Menu La Palette Du Goût " */
{
    width:43.5%;
    margin:23px 0px 8px;
}
#ohmyfood-Menu-Le-Delice-Des-Sens  /* ID Logo de la page    " Page Menu La Palette Du Goût " */
{
    width:43.5%;
    margin:23px 0px 8px;
}
#ohmyfood-Menu-La-Palette-Du-Goût  /* ID Logo de la page    " Page Menu La Palette Du Goût " */
{
    width:43.5%;
    margin:23px 0px 8px;
}
.Description-Menu  /* Classe pour mettre en léger gris  les descriptions des Menu sur la  " Page La Palette Du Goût "   */
{
    color:#353535;
    padding:0px 0px 17px 10px;
    margin:0px;
    font-size:1.2rem;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
}
.H1-La-palette-du-gout  /* H1 Titre principal pour mettre la taille et les margins" Page Menu La Palette Du Goût " */
{
    display:flex;
    width:98%;
    font-size:3em;
    font-family:"Shrikhand Regular", sans-serif;
    background-color:#F6F6F6;
    margin:0px;
    padding:40px 0px 50px 2%;

}
.Dimension-Coeur
{
    margin-left:50px;
    width:45px;
    position:relative;
}
.Coeur-Vide-Menu i /* Style pour mettre l'icon Coeur  du H1 en flex et avec un margin " Page Menu La Palette Du Goût " */
{
    Margin:0px 0px 0px 0px;
    width:22px;
    height:22px;
    line-height:22px;
    font-size:3rem;
}
.Coeur-Plein-Menu
{
    top:1px;
    left:1.5px;
    position:absolute;
    font-size:2.85rem;
    opacity:0;
    color:transparent;
}
.Coeur-Plein-Menu:hover
{
    animation:3s ease-out Coeur;
    -webkit-background-clip:text;
    opacity:1;
}
.Entrees
{
    width:30%;
    margin:0px 10px;
}
.Plats
{   
    width:30%;
    margin:0px 10px;

}
.Desserts    
{
    width:30%;
    margin:0px 10px;
}
.Titre_Entrees, .Titre_Plats, .Titre_Desserts  /* Classe pour mettre un margin top-bottom pour le titre Entrées-Plats-Desserts  " Page La Palette Du Goût "   */
{
    display:block;
    font-size:2rem;
    font-weight:normal;
    padding:23px 0px 20px 0px;
    margin-bottom:7px;
    margin-top:0px;
}
.Titre_Entrees
{
    animation:1.650s ease  Plat;
}
.Titre_Plats
{
    animation:1.800s linear  Plat;

}
.Titre_Desserts
{
    animation:1.925s ease-in  Plat;
}
.Bordure-Titre /* Classe pour mettre une bordure verte au des Titres H2 D'entrees-Plats-Desserts " Page La Palette Du Goût "*/ 
{
    width:95%;
    display:block;
    padding-bottom:7px;
    border-bottom:1px solid #99E2D0;
    border-width:4px;
}
.Texte-Plat
{
    overflow:hidden;
    width:85%;
}
.Prix  /* Classe pour mettre Les chiffres ( prix ) à droite avec un margin right dans les divs  " Page La Palette Du Goût "   */
{
    width:15%;
    display:flex;
    flex-direction:column-reverse;
    font-weight:bold;
    margin:0px 20px 0px 0px;
    font-size:1.2rem;
    color:#353535;
    padding:0px 0px 16px 0px;
    align-items:end;
}
#Main-Menu /* Id-Main Pour mettre les paddings du Main " Page Menu La Palette Du Goût " */
{
    background-color:#F6F6F6; 
    padding:0px;
}
.Content-Menu  /* Classe pour mettre la section Menu en flex colonne " Page Menu La Palette Du Goût " */
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.Menu-Bold2  /* Classe pour mettre les titres de Menu en gras et avec un padding -top "Page Menu La Palette Du Goût" */
{
    font-size:1.4rem;
    font-weight:bold;
    margin:0px;
    padding:10px 0px 10px 10px;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
}
.Icon-Validation
{
    width:21px;
    height:21px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:white;
    border-radius:100px;
    overflow:hidden;
    transform: rotate(180deg);

}
.Icon-Validation i
{
    width:1rem;
    color:#99e2d0;
}
.Validation-Plat
{
    background-color:#99e2d0;
    border-radius:0px 20px 20px 0px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:85px;
    margin-right:-150px;
}
.Menu-Entrees .Validation-Plat:hover
{
    overflow:visible;
    animation:10s alternate both Selection-Plat;
}
@keyframes Selection-Plat
{
    0%   
    { 
    margin-left:0px;
    }
    25%   
    { 
    margin-left:-75px;
    }
    50%   
    { 
    margin-left:-85px;
    }
    75%   
    { 
    margin-left:-95px;
    }
    100% 
    {
    margin-left:-100px;
    }
}
@keyframes Animation-Icon
{
    0%
    {
    transform:rotate(0deg);
    }
    50%
    {
    transform:rotate(380deg);
    }
    100%
    {
    transform:rotate(360deg);
    }
}
.Figure-Menu /* Classe pour la figure de l'image du Menu La Palette Du Goût   " Page Menu  "    */
{
    width:100%;
    margin:0px;
    padding:0px;
}
.img_cover-Menu /* Classe pour la Div de l'image du Menu La Palette Du Goût  " Page Menu  "    */
{
    height:260px;
    overflow:hidden;
}
.Figure-Menu img /* Classe pour la figure de l'image du Menu La Palette Du Goût  " Page Menu  "    */
{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}
.Boutton-Commander /* Classe pour le bouton Commander des Menus "Page Menu La Palette Du Goût" */
{
    width:40%;
    height:100px;
    background:linear-gradient(to bottom right,#FF79DA 0%,#9356DC 100%);
    color:white;
    border-radius:50px;
    border:none;
    margin:45px 30% 58px;
    font-size:2.5rem;
}
.Menu-Entrees /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    display:flex;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 0px 25px 0px;
    animation:1.650s ease  Plat;
    overflow:hidden;
    cursor:pointer;
}
.Menu-Plats /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    display:flex;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 0px 25px 0px;
    animation:1.800s linear Plat;
    overflow:hidden;
}
.Menu-Desserts, .Mousse-Au-Chocolat /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div et la dernière avec un padding different " Page Menu La Palette Du Goût " */
{
    display:flex;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 0px 25px 0px;
    animation:1.925s ease-in Plat;
    overflow:hidden;
}
@keyframes Plat
{
    0% 
    {
    transform: translatey(0px);
    opacity:0;
    }
    100% 
    {
    transform: translatey(-10px);
    opacity:1;
    }
}
#ohmyfood-Menu-La-Note-Enchantee  /* ID Logo de la page    " Page Menu La Palette Du Goût " */
{
    width:50%;
    margin:23px 0px 8px;
}
#ohmyfood-Menu-A-La-Française  /* ID Logo de la page    " Page Menu La Palette Du Goût " */
{
    width:50%;
    margin:23px 0px 8px;
}
#ohmyfood-Menu-Le-Delice-Des-Sens  /* ID Logo de la page    " Page Menu La Palette Du Goût " */
{
    width:50%;
    margin:23px 0px 8px;
}
.Bouton-Retour-Logo  /* Classe du Logo et du Bouton Retour pour mettre la Div en position relative des "4 pages Menu" */
{
    width:50%;
    margin:0px auto;
    position:relative;
    text-align:center;
}
.Menu-Boutton-Retour /* Classe pour le bouton-Retour des "4 pages Menu" */
{
    position:absolute;
    border:0px;
    color:black;
    font-size:3rem;
    left:-25px;
    top:25px;
}
.Menu-Boutton-Retour a /* Classe pour mettre le liens en noir bouton-Retour des "4 pages Menu" */
{
    color:black;
}
footer /* Footer des 5 pages Version Desktop " La Page Index et les 4 pages Menu "    */
{
    background-color: #353535;
    padding:25px 0px 20px 25px;
}
footer p /* Texte pour le footer des 5 pages Version Desktop " La Page Index et les 4 pages Menu "     */
{
    color:white;
    margin-top:0px;
    margin-bottom:10px;
    font-size:2rem;
}
.Fourchette-Couteau i /* Style pour les icons pour le footer des 5 pages Version Desktop " La Page Index et les 4 pages Menu "     */
{
    font-size:1.8rem;
    color:white;
    margin-right:30px;
}
.Partenaire i
{
    font-size:1.8rem;
    color:white;
    margin-right:17px;
    transform:rotate(-10deg);
}
footer h3 /* Titre h3 pour le footer des 5 pages  Version Desktop " La Page Index et les 4 pages Menu " */  
{
    font-family:"Shrikhand Regular",sans-serif;
    color:white;
    margin-top:0px;
    font-size:2rem;
}
footer p /* Texte pour le footer des 5 pages  " La Page Index et les 4 pages Menu "     */
{
    color:white;
    margin-top:0px;
    margin-bottom:10px;
    font-size:1.8rem;
}
.Contact   /* Pour enlever le surlignement de contact ( émail ) " La Page Index et les 4 pages Menu " */  
{
    text-decoration:none;
}
/* Version Desktop */

@media screen and (min-width:1090px) and (max-width:1280px)  /* styles pour tablettes*/
{
.H1-La-palette-du-gout  /* H1 Titre principal pour mettre la taille et les margins" Page Menu La Palette Du Goût " */
{
    width:96%;
    font-size:2.5em;
    font-family:"Shrikhand Regular", sans-serif;
    background-color:#F6F6F6;
    margin:0px;
    padding:40px 0px 50px 4%;
    
}
.Coeur-Vide-Menu i /* Style pour mettre l'icon Coeur  du H1 en flex et avec un margin " Page Menu La Palette Du Goût " */
{
    Margin:0px 0px 0px 0px;
    width:22px;
    height:22px;
    line-height:22px;
    font-size:2.5rem;
}
.Coeur-Plein-Menu /* Style pour mettre l'icon Coeur  du H1 en flex et avec un margin " Page Menu La Palette Du Goût " */
{
    top:1px;
    left:1.2px;
    position:absolute;
    font-size:2.35rem;
    opacity:0;
    color:transparent;
}
.Content-Menu  /* Classe pour mettre la section Menu en flex colonne " Page Menu La Palette Du Goût " */
{
    display:flex;
    justify-content:space-around;
}
.Menu-Bold2  /* Classe pour mettre les titres de Menu en gras et avec un padding -top "Page Menu La Palette Du Goût" */
{
    font-size:1.4rem;
    font-weight:bold;
    margin:0px;
    padding:10px 0px 10px 10px;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
}
.Entrees, .Plats, .Desserts 
{
    width:45%;
    margin:0px 10px;
}
.Titre_Entrees, .Titre_Plats, .Titre_Desserts  /* Classe pour mettre un margin top-bottom pour le titre Entrées-Plats-Desserts  " Page La Palette Du Goût "   */
{
    display:block;
    font-size:1.5rem;
    font-weight:normal;
    padding:23px 0px 20px 0px;
    margin-bottom:7px;
    margin-top:0px;
}
.Bordure-Titre /* Classe pour mettre une bordure verte au des Titres H2 D'entrees-Plats-Desserts " Page La Palette Du Goût "*/ 
{
    width:90%;
    display:block;
    padding-bottom:7px;
    border-bottom:1px solid #99E2D0;
    border-width:4px;
}
#Main-Menu .Menu-Entrees /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    width:90%;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 0px 25px 0px;
    animation:1.650s ease Plat;
}
#Main-Menu .Menu-Plats /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    width:90%;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 0px 25px 0px;
    animation:1.800s linear Plat;
 }
#Main-Menu .Menu-Desserts, .Mousse-Au-Chocolat /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div et la dernière avec un padding different " Page Menu La Palette Du Goût " */
    {
    width:90%;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 0px 25px 0px;
    animation:1.925s ease-in Plat;
    }
footer h3 /* Titre h3 pour le footer des 5 pages  Version Desktop " La Page Index et les 4 pages Menu " */  
{
    font-family:"Shrikhand Regular",sans-serif;
    color:white;
    margin-top:0px;
    font-size:1.8rem;
}
footer p /* Texte pour le footer des 5 pages  " La Page Index et les 4 pages Menu "     */
{
    color:white;
    margin-top:0px;
    margin-bottom:10px;
    font-size:1.6rem;
}
.Fourchette-Couteau i /* Style pour les icons pour le footer des 5 pages Version Desktop " La Page Index et les 4 pages Menu "     */
{
    font-size:1.6rem;
    color:white;
    margin-right:30px;
}
.Partenaire i
{
    font-size:1.6rem;
    color:white;
    margin-right:17px;
    transform:rotate(-10deg);
}
}
@media screen and (min-width:769px) and (max-width:1089px)  /* styles pour tablettes*/
{
.Menu-Boutton-Retour /* Classe pour le bouton-Retour des "4 pages Menu" */
{
    position:absolute;
    background-color:transparent;
    border:0px;
    color:black;
    font-size:2rem;
    left:-25px;
    top:25px;
}
.H1-La-palette-du-gout  /* H1 Titre principal pour mettre la taille et les margins" Page Menu La Palette Du Goût " */
{
    width:96%;
    font-size:2.5em;
    font-family:"Shrikhand Regular", sans-serif;
    background-color:#F6F6F6;
    margin:0px;
    padding:40px 0px 50px 4%;
}
.Coeur-Vide-Menu i /* Style pour mettre l'icon Coeur  du H1 en flex et avec un margin " Page Menu La Palette Du Goût " */
{
    Margin:0px 0px 0px 0px;
    width:22px;
    height:22px;
    line-height:22px;
    font-size:2.5rem;
}
.Coeur-Plein-Menu /* Style pour mettre l'icon Coeur  du H1 en flex et avec un margin " Page Menu La Palette Du Goût " */
{
    top:0px;
    left:0px;
    position:absolute;
    font-size:2.5rem;
    opacity:0;
    color:transparent;
}
.Content-Menu /* Classe pour mettre en flex la div Content " Page La Palette Du Goût "   */
{
    display:flex;
    flex-wrap:wrap;
}
.Entrees, .Plats, .Desserts 
{
    width:45%;
    display:flex;
    flex-direction:column;
}
.Titre_Entrees, .Titre_Plats, .Titre_Desserts  /* Classe pour mettre un margin top-bottom pour le titre Entrées-Plats-Desserts  " Page La Palette Du Goût "   */
{
    display:block;
    font-size:1.5rem;
    font-weight:normal;
    padding:23px 0px 20px 10px;
    margin:0px 0px 7px 0px;
}
.Bordure-Titre /* Classe pour mettre une bordure verte au des Titres H2 D'entrees-Plats-Desserts " Page La Palette Du Goût "*/ 
{
    width:90%;
}
    
#Main-Menu .Menu-Entrees /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    width:90%;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 0px 25px 0px;
    animation:1.650s ease Plat;
}
#Main-Menu .Menu-Plats /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    width:90%;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 0px 25px 0px;
    animation:1.800s linear Plat;
}
#Main-Menu .Menu-Desserts, .Mousse-Au-Chocolat /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div et la dernière avec un padding different " Page Menu La Palette Du Goût " */
{
    width:90%;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 0px 25px 0px;
    animation:1.925s ease-in Plat;
}
.Menu-Bold2  /* Classe pour mettre les titres de Menu en gras et avec un padding -top "Page Menu La Palette Du Goût" */
{
    font-size:1.2rem;
    font-weight:bold;
    margin:0px;
    padding:10px 0px 10px 10px;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
}
.Description-Menu  /* Classe pour mettre en léger gris  les descriptions des Menu sur la  " Page La Palette Du Goût "   */
{
    color:#353535;
     padding:0px 0px 16px 10px;
    margin:0px;
    font-size:1.1rem;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
}
.Prix  /* Classe pour mettre Les chiffres ( prix ) à droite avec un margin right dans les divs  " Page La Palette Du Goût "   */
{
    font-weight:bold;
    margin:0px 20px 0px 0px;
    font-size:1.1rem;
    color:#353535;
}
.Boutton-Commander /* Classe pour le bouton Commander des Menus "Page Menu La Palette Du Goût" */
{
    width:40%;
    height:100px;
    background:linear-gradient(to bottom right,#FF79DA 0%,#9356DC 100%);
    color:white;
    border-radius:50px;
    border:none;
    margin:45px 30% 58px;
    font-size:2.5rem;
}
footer h3 /* Titre h3 pour le footer des 5 pages  Version Desktop " La Page Index et les 4 pages Menu " */  
{
    font-family:"Shrikhand Regular",sans-serif;
    color:white;
    margin-top:0px;
    font-size:1.6rem;
}
footer p /* Texte pour le footer des 5 pages  " La Page Index et les 4 pages Menu "     */
{
    color:white;
    margin-top:0px;
    margin-bottom:10px;
    font-size:1.4rem;
}
.Fourchette-Couteau i /* Style pour les icons pour le footer des 5 pages Version Desktop " La Page Index et les 4 pages Menu "     */
{
    font-size:1.4rem;
    color:white;
    margin-right:28px;
 }
.Partenaire i
{
    font-size:1.4rem;
    color:white;
    margin-right:17px;
    transform:rotate(-10deg);
}
}
@media screen and (min-width:376px) and (max-width:768px)   /* styles pour mobile paysage+Portrait*/
{
    .Menu-Boutton-Retour /* Classe pour le bouton-Retour des "4 pages Menu" */
{
    position:absolute;
    background-color:transparent;
    border:0px;
    color:black;
    font-size:1.5rem;
    left:-25px;
    top:25px;
}
.Div-Boutton  /* Classe pour mettre le boutton Commander des Menus au centre de la page "Page Menu La Palette Du Goût" */
{
    text-align:center;
}
.Boutton-Commander /* Classe pour le bouton Commander des Menus "Page Menu La Palette Du Goût" */
{
    width:230px;
    background:linear-gradient(to bottom right,#FF79DA 0%,#9356DC 100%);
    color:white;
    border-radius:50px;
    border:none;
    margin:45px 0px 58px;
    font-size:2rem;
}
#Main-Menu /* Id-Main Pour mettre les paddings du Main " Page Menu La Palette Du Goût " */
{
    width:100%;
}

#Main-Menu .Menu-Entrees /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    width:80%;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 20px;
    animation:1.650s ease Plat;
}
#Main-Menu .Menu-Plats /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    width:80%;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 20px;
    animation:1.800s linear Plat;
}
#Main-Menu .Menu-Desserts, .Mousse-Au-Chocolat /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div et la dernière avec un padding different " Page Menu La Palette Du Goût " */
{
    width:80%;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    margin:0px 20px;
    animation:1.925s ease-in Plat;
}
.H1-La-palette-du-gout  /* H1 Titre principal pour mettre la taille et les margins" Page Menu La Palette Du Goût " */
{
    display:flex;
    justify-content:space-evenly;
    width:94%;
    font-size:2em;
    font-family:"Shrikhand Regular", sans-serif;
    background-color:#F6F6F6;
    margin:0px;
    padding:40px 0px 0px 6%;

}
.Coeur-Vide-Menu i /* Style pour mettre l'icon Coeur  du H1 en flex et avec un margin " Page Menu La Palette Du Goût " */
{
    Margin:0px;
    width:22px;
    height:22px;
    line-height:22px;
    font-size:2rem;
}
.Coeur-Plein-Menu /* Style pour mettre l'icon Coeur  du H1 en flex et avec un margin " Page Menu La Palette Du Goût " */
{
    top:0px;
    left:0px;
    position:absolute;
    font-size:2rem;
    opacity:0;
    color:transparent;
}
.Dimension-Coeur /* Style pour mettre l'icon Coeur sans margin " Page Menu La Palette Du Goût " */
{
    margin:0px;
}
.Content-Menu /* Classe pour mettre en flex la div Content " Page La Palette Du Goût "   */
{
    display:initial;
}
.Entrees, .Plats, .Desserts 
{
    width:initial;
    margin:0px;
}
.Titre_Entrees, .Titre_Plats, .Titre_Desserts  /* Classe pour mettre un margin top-bottom pour le titre Entrées-Plats-Desserts  " Page La Palette Du Goût "   */
{
    display:block;
    font-size:1.5rem;
    font-weight:normal;
    padding:23px 0px 20px 30px;
    margin-bottom:7px;
    margin-top:0px;
}
.Bordure-Titre /* Classe pour mettre une bordure verte au des Titres H2 D'entrees-Plats-Desserts " Page La Palette Du Goût "*/ 
{
    width:80%;
    display:block;
    padding-bottom:7px;
    border-bottom:1px solid #99E2D0;
    border-width:3px;
}
.Menu-Bold2  /* Classe pour mettre les titres de Menu en gras et avec un padding -top "Page Menu La Palette Du Goût" */
{
    font-size:1.2rem;
    font-weight:bold;
    margin:0px;
    padding:10px 0px 10px 10px;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
}
.Description-Menu  /* Classe pour mettre en léger gris  les descriptions des Menu sur la  " Page La Palette Du Goût "   */
{
    color:#353535;
    padding:0px 0px 12px 10px;
    margin:0px;
    font-size:1rem;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
}
.Prix  /* Classe pour mettre Les chiffres ( prix ) à droite avec un margin right dans les divs  " Page La Palette Du Goût "   */
{
    font-weight:bold;
    margin:0px 20px 0px 0px;
    font-size:1rem;
    color:#353535;
    padding:0px 0px 12px 0px;
}
footer h3 /* Titre h3 pour le footer des 5 pages  Version Desktop " La Page Index et les 4 pages Menu " */  
{
    font-family:"Shrikhand Regular",sans-serif;
    color:white;
    margin-top:0px;
    font-size:1.5rem;
}
footer p /* Texte pour le footer des 5 pages  " La Page Index et les 4 pages Menu "     */
{
    color:white;
    margin-top:0px;
    margin-bottom:10px;
    font-size:1.2rem;
}
.Fourchette-Couteau i /* Style pour les icons pour le footer des 5 pages Version Desktop " La Page Index et les 4 pages Menu "     */
{
    font-size:1.2rem;
    color:white;
    margin-right:25px;
}
.Partenaire i
{
    font-size:1.2rem;
    color:white;
    margin-right:17px;
    transform:rotate(-10deg);
}
}
@media screen and (max-width:375px) /* styles pour mobile petit écran paysage+Portrait*/
{.Header-Menu
{
    width:100%;
    padding:0px;
}
#ohmyfood-Menu-La-Palette-Du-Goût  /* ID Logo de la page    " Page Menu La Palette Du Goût " */
{
    width:43.5%;
    margin:23px 0px 8px;
}
.Description-Menu  /* Classe pour mettre en léger gris  les descriptions des Menu sur la  " Page La Palette Du Goût "   */
{
    color:#353535;
    padding:0px;
    margin:0px;
    font-size:14px;
}
.H1-La-palette-du-gout  /* H1 Titre principal pour mettre la taille et les margins" Page Menu La Palette Du Goût " */
{
    font-family:"Shrikhand Regular", sans-serif;
    width:95%;
    position:absolute;
    top:-65px;
    left:0px;
    padding:40px 0px 0px 5%;
    border-radius:50px 50px 0px 0px;
    font-size:1.7em;
    height:26px;
    margin:0px;
    background-color:#F6F6F6;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.Coeur-Vide-Menu i /* Style pour mettre l'icon Coeur  du H1 en flex et avec un margin " Page Menu La Palette Du Goût " */
    {
    Margin:0px;
    width:22px;
    height:22px;
    line-height:22px;
    font-size:1.4rem;
    }
.Coeur-Plein-Menu /* Style pour mettre l'icon Coeur  du H1 en flex et avec un margin " Page Menu La Palette Du Goût " */
{
    top:4px;
    left:0.5px;
    position:absolute;
    font-size:1.4rem;
    opacity:0;
    color:transparent;
}
.Dimension-Coeur /* Style pour mettre l'icon Coeur sans margin " Page Menu La Palette Du Goût " */
{
     margin:0px;
}
.Content-Menu
    {
    display:initial;
    }
.Entrees, .Plats, .Desserts  /* Style pour les titres des différents Plats " Page Menu La Palette Du Goût " */
    {
    width:initial;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    margin:0px;
    }
.Titre_Entrees /* Classe pour mettre un margin top-bottom pour le titre Entrées  " Page La Palette Du Goût "   */
{
    font-weight:normal;
    font-size:1rem;
    margin:45px 0px 10px 20px;
    padding:0px 0px 7px;
}
.Titre_Plats /* Classe pour mettre un margin top-bottom pour le titre Plats  " Page La Palette Du Goût "   */
{
    font-weight:normal;
    font-size:1rem;
    margin:30px 0px 10px 20px;
}
.Titre_Desserts /* Classe pour mettre un margin top-bottom pour le titre Desserts  " Page La Palette Du Goût "   */
{
    font-weight:normal;
    font-size:1rem;
    margin:30px 0px 10px 20px;
    padding-top:0px;
}
.Bordure-Titre /* Classe pour mettre une bordure verte au des Titres H2 D'entrees-Plats-Desserts " Page La Palette Du Goût "*/ 
{
    display:block;
    width:40px;
    padding-bottom:7px;
    border-bottom:1px solid #99E2D0;
    border-width:3px;
}
.Prix  /* Classe pour mettre Les chiffres ( prix ) à droite avec un margin right dans les divs  " Page La Palette Du Goût "   */
{
    width:13%;
    margin-right:23px;
    font-size:14px;
    color:#353535;
    font-weight:bold;
    padding:0px 0px 14px 0px;
}
#Main-Menu /* Id-Main Pour mettre les paddings du Main " Page Menu La Palette Du Goût " */
{
    position:relative;
    width:100%;
    background-color:#F6F6F6; 
    padding:0px;
}
    
.Menu-Bold2  /* Classe pour mettre les titres de Menu en gras et avec un padding -top "Page Menu La Palette Du Goût" */
{
    font-weight:bold;
    margin:0px;
    padding:10px 0px 10px;
    font-size:1rem;
}
.Boutton-Commander /* Classe pour le bouton Commander des Menus "Page Menu La Palette Du Goût" */
{
    width:187px;
    height:50px;
    background:linear-gradient(to bottom right,#FF79DA 0%,#9356DC 100%);
    color:white;
    border-radius:50px;
    border:none;
    margin:45px 82px 58px;
    font-size:initial;
}
.Figure-Menu img /* Classe pour la figure de l'image du Menu La Palette Du Goût  " Page Menu La Palette Du Goût "    */
{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}
.Figure-Menu /* Classe pour la Div de l'image du Menu La Palette Du Goût  " Page Menu La Palette Du Goût "    */
{
    width:100%;
    height:initial;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
.img_cover-Menu /* Classe pour la Div de l'image du Menu La Palette Du Goût  " Page Menu La Palette Du Goût "    */
{
    height:260px;
    overflow:hidden;
}
#Main-Menu .Menu-Entrees /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    width:90%;
    height:69px;
    padding-left:3%;
    margin:0px 3.5% 15px;
    animation:1.650s ease Plat;
}
#Main-Menu .Menu-Plats /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    width:90%;
    height:69px;
    padding-left:3%;
    margin:0px 3.5% 15px;
    animation:1.800s linear Plat;
}
#Main-Menu .Menu-Desserts /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div et la dernière avec un padding different " Page Menu La Palette Du Goût " */
{
    width:90%;
    height:69px;
    padding-left:3%;
    margin:0px 3.5% 15px;
    animation:1.925s ease-in Plat;
}
#Main-Menu .Mousse-Au-Chocolat /* Id-Main  Pour enlever le margin-bottom de la dernière div " .Mousse-Au-Chocolat  " Page Menu La Palette Du Goût " */
{
    width:90%;
    height:69px;
    box-shadow:0px 3px 20px #E5E5E5;
    border-radius:20px;
    padding-left:3%;
    margin:0px 3.5%;
    animation:1.925s ease-in Plat;
}
.Bouton-Retour-Logo  /* Classe du Logo et du Bouton Retour pour mettre la Div en position relative des "4 pages Menu" */
{
    position:relative;
    width:100%; 
    text-align:center;
}
.Menu-Boutton-Retour /* Classe pour le bouton-Retour des "4 pages Menu" */
{
    position:absolute;
    background-color: white;
    color:black;
    border:0px;
    top:25px;
    left:22px;
    bottom:0px;
    width:19px;
    height:16px;
    font-size:initial;
}
.Menu-Boutton-Retour a /* Classe pour le bouton-Retour des "4 pages Menu" */
{
    color:black;
}
    footer /* Footer des 5 pages  " La Page Index et les 4 pages Menu "    */
{
    background-color: #353535;
    padding:27px 0px 26px 25px;
}
    footer h3 /* Titre h3 pour le footer des 5 pages  " La Page Index et les 4 pages Menu " */  
{
    font-family:"Shrikhand Regular", sans-serif;
    color:white;
    margin:0px 0px 23px 0px ;
    font-size:1.3rem;
}
footer p /* Texte pour le footer des 5 pages  " La Page Index et les 4 pages Menu "     */
{
    color:white;
    margin-top:0px;
    margin-bottom:10px;
    font-size:0.9rem;
}
.Fourchette-Couteau i /* Style pour l' icon Fourchette-Couteau pour le footer des 5 pages  " La Page Index et les 4 pages Menu "     */
{
    font-size:15px;
    color:white;
    margin-right:12px;
    font-weight:bold;
}
.Partenaire i /* Style pour l'icon partenaire pour le footer des 5 pages  " La Page Index et les 4 pages Menu "     */
{
    font-size:12px;
    color:white;
    margin-right:9px;
    transform:rotate(-10deg);
    font-weight:bold;
}
.bold /* Style pour mettre en gras les Icons Footer Fourchette-Couteau et Partenaire " La Page Index et les 4 pages Menu "     */
{
    font-weight:bold;
}
}
@media screen and (max-width:350px) /* styles pour les mobiles très petit écrants */
{
    .H1-La-palette-du-gout  /* H1 Titre principal pour mettre la taille et les margins" Page Menu La Palette Du Goût " */
{
    font-size:1.2rem;
}
.Coeur-Plein-Menu /* Style pour mettre l'icon Coeur  du H1 en flex et avec un margin " Page Menu La Palette Du Goût " */
{
    top:0px;
    left:0.5px;
    position:absolute;
    font-size:1.4rem;
    opacity:0;
    color:transparent;
}
.Dimension-Coeur /* Style pour mettre l'icon Coeur sans margin " Page Menu La Palette Du Goût " */
{
    margin:0px;
}
.Menu-Bold2    
{
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
}
#Main-Menu .Menu-Rectangle, #Main-Menu .Mousse-Au-Chocolat /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les divs  " Page Menu La Palette Du Goût " */
{
    width:90%;
    height:69px;
    padding-left:3.2%;
    margin:0px 3.2% 15px 3.2%;
}
#Main-Menu .Menu-Entrees /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    width:90%;
    height:69px;
    padding-left:3.2%;
    margin:0px 3.2% 15px 3.2%;
    animation:1.650s ease Plat;
}
#Main-Menu .Menu-Plats /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div  " Page Menu  " */
{
    width:90%;
    height:69px;
    padding-left:3.2%;
    margin:0px 3.2% 15px 3.2%;
    animation:1.800s linear Plat;
}
#Main-Menu .Menu-Desserts, .Mousse-Au-Chocolat /* Id-Main  Pour mettre la largeur et la hauteur + un box-shadow pour les div et la dernière avec un padding different " Page Menu La Palette Du Goût " */
{
    width:90%;
    height:69px;
    padding-left:3.2%;
    margin:0px 3.2% 15px 3.2%;
    animation:1.925s ease-in Plat;
}
.Prix  /* Classe pour mettre Les chiffres ( prix ) à droite avec un margin right dans les divs  " Page La Palette Du Goût "   */
{
    width:13%;
    display:flex;
    flex-direction: column-reverse;
    margin-right:0px;
    font-size:13px;
    color:#353535;
    font-weight:bold;
    padding:40px 0px 14px 0px;
}
.Description-Menu  /* Classe pour mettre en léger gris  les descriptions des Menu sur la  " Page La Palette Du Goût "   */
{
    color:#353535;
    padding:0px 0px 15px 0px;
    margin:0px;
    font-size:15px;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
}
.Boutton-Commander /* Classe pour le bouton Commander des Menus "Page Menu La Palette Du Goût" */
{
    width:60%;
    height:50px;
    background:linear-gradient(to bottom right,#FF79DA 0%,#9356DC 100%);
    color:white;
    border-radius:50px;
    border:none;
    margin:45px 20% 58px;
    font-size:initial;
}
}