.Figure-Restaurants
{
    height:850px;
}
.img_cover
{
    height:800px;
    overflow:hidden;
}
#Restaurants img
{
    height:80%;
    width:80%;
}
/* Version Desktop */
@media screen and (min-width:1090px) and (max-width:1280px)  /* styles pour tablettes*/
{
    .Figure-Restaurants
    {
    height:253px;
    }
    .img_cover
    {
    height:175px;
    overflow:hidden;
    }
    #Restaurants img
    {
    height:100%;
    width:100%;
    }
}
@media screen and (min-width:769px) and (max-width:1089px)  /* styles pour tablettes*/
{
    .Figure-Restaurants
    {
    height:253px;
    }
    .img_cover
    {
    height:175px;
    overflow:hidden;
    }
    #Restaurants img
    {
    height:100%;
    width:100%;
    }
}
@media screen and (min-width:376px) and (max-width:768px)   /* styles pour mobile paysage+Portrait*/
{
.Figure-Restaurants
{
    height:253px;
}
.img_cover
{
    height:175px;
    overflow:hidden;
}
#Restaurants img
{
    height:100%;
    width:100%;
}
}
@media screen and (max-width:375px) /* styles pour mobile petit écran paysage+Portrait*/
{
#ohmyfood
{
    height:1.75rem;
    margin-top:22px;
    margin-bottom:10px;
    margin-left:28.5%;
    margin-right:28.5%
}
.Localisation
{
    background-color:#EAEAEA;
    padding:16px 0px;
    margin:0px;
}
.Localisation i
{
    margin-right:18px;
    color:#353535 ;
}
h1
{
    width:78%;
    margin-left:80px;
}
.Sous-Titre-H1
{
    width:80%;
    color:#656565;
    margin-left:20px;
}
.Button-Restaurant
{
    text-align:center;
}
.Button-Restaurant button
{
    background-color:#A85DDC;
    overflow:hidden;
    border-radius:100px;
    color:white;
    height:50px;
    width:218px;
}

header h2
{
    font-weight:bold;
    margin-left:20px;
}
h3
{
    color:white;
    margin-top:0px;
}
.Figure-Restaurants
{
    height:253px;
    margin:0px;
} 
.Figure-Restaurants i
{
    float:right;
    margin-right:25px;
    font-size:21px;
}
.Figure-Restaurants p
{
    margin-top:0px;
    margin-bottom:8px;
}
.Figure-Restaurants figcaption
{
    margin-top:18px;
}
#Restaurants
{
    padding:55px 20px 65px 20px;
    background-color:#F6F6F6;
}
#Restaurants h2
{
    margin-top:0px;
}
#Restaurants img
{
    height:100%;
    width:100%;
    border-radius:20px 20px 0px;
}
.img_cover
{
    height:175px;
    overflow:hidden;
}
.Menu-Bold
{
    font-weight:bold;
}

footer
{
    background-color: #353535;
    padding-left:24px;
    padding-top:25px;
    padding-bottom:20px;
}
footer p
{
    color:white;
    margin-top:0px;
    margin-bottom:10px;
}
footer i
{
    width:15px;
    height:15px;
    color:white;
    margin-right:5px;
}
}